.table{
    display: grid;
    grid-template-columns:repeat(18,5%) ;
    grid-template-rows: repeat(9,10%);
    grid-gap: 5px;
    border-radius: 5px;
    color: white;
    width: 70%;
    height: 80%;
    margin-left:10%;
}
#h,#c,#n,#o,#f,#P,#s,#cl,#Se,#Br,#I{
    background-color: rgb(0,153,153);
    padding: 10px;
    border-radius: 5px;
}
#li,#na,#k,#Rb,#Cs,#Fr{
    background-color: rgb(255,102,51);
    padding: 10px;
    border-radius: 5px;
}
#be,#mg,#ca,#Sr,#Ba,#Ra{
    background-color: rgb(255,153,51);
    padding: 10px;
    border-radius: 5px;
}
#sc,#ti,#v,#cr,#mn,#fe,#co,#ni,#cu,#y,#Zr,#Nb,#Mo,#Tc,#Ru,#Rh,#Pd,#Ag,#Hf,#Ta,#W,#Re,#Os,#Ir,#Pt,#Au,#Rf,#Db,#Sg,#Bh,#Hs{
    background-color: rgb(255,204,51);
    padding: 10px;
    border-radius: 5px;
}
#La,#Ce,#Pr,#Nd,#Pm,#Sm,#Eu,#Gd,#Tb,#Dy,#Ho,#Er,#Tm,#Yb,#Lu{
    background-color: rgb(204,153,102);
    padding: 10px;
    border-radius: 5px;
}
#Ac,#Th,#Pa,#U,#Np,#Pu,#Am,#Cm,#Bk,#Cf,#Es,#Fm,#Md,#No,#Lr{
    background-color: rgb(153,102,102);
    padding: 10px;
    border-radius: 5px;
}
#Mt,#Ds,#Rg,#Nh,#Fl,#Mc,#Lv,#Ts,#Og{
    background-color: rgb(215, 223, 35);
    padding: 10px;
    border-radius: 5px;
}
#al,#Zn,#Ga,#Cd,#In,#Sn,#Hg,#Tl,#Pb,#Bi,#Po,#Cn{
    background-color: rgb(153,204,51);
    padding: 10px;
    border-radius: 5px;
}
#b,#si,#Ge,#As,#Sb,#Te,#At{
    background-color: rgb(51,204,51);
    padding: 10px;
    border-radius: 5px;
}
#he,#ne,#ar,#Kr,#Xe,#Rn{
    background-color: rgb(51,153,204);
    padding: 10px;
    border-radius: 5px;
}

