#background {
    background-image: url("c538051a01a6d6f9c0bc2906222.png");
    color:white;
    font-weight: normal;
    background-size: cover;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 2fr 2fr 2fr 1fr;
    grid-template-rows: 1fr 2fr 2fr 2fr 2fr 2fr;
    height: 790px;
    width: 90%;
    margin-left: 5%;
}
.grid > div {
    border: 4px solid rgb(18, 69, 89);
}
#gr1 {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: rgb(18, 69, 89);
}
#gr2 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: rgb(18, 69, 89);
}
#gr3 {
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
}
#gr4 {
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: rgb(18, 69, 89);
    padding-top: 15%;
}
#text0 {
    font-size: 25px;
}
#gr5 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 7;
    background-color: rgb(18, 69, 89);
}
#gr6 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}
#gr7 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: rgb(18, 69, 89);
}
#gr8 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: rgb(18, 69, 89);
    font-size: 40px;
    padding-top: 22%;
}
#aitu {
    margin: 0;
}
#gr9 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: rgb(18, 69, 89);
}
#gr10 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
}
#gr11 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
    background-color: rgb(18, 69, 89);
}
#gr12 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 4;
    grid-row-end: 5;
}
#gr13 {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 4;
    grid-row-end: 5;
    background-color: rgb(18, 69, 89);
}
#gr14 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 6;
    background-color: rgb(18, 69, 89);
}
#gr15 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 6;
}
#gr16 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 5;
    grid-row-end: 6;
    background-color: rgb(18, 69, 89);
}
#gr17 {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 7;
}

#gr18 {
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 6;
    grid-row-end: 7;
    background-color: rgb(18, 69, 89);
}
#text {
    font-size:23px;
}
#gr19 {
    grid-column-start: 8;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 7;
    background-color: rgb(18, 69, 89);
}