.grid-conteiner{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: rgb(244, 244, 244);
    padding: 10px;
    justify-content: start;
    width: 40%;
    margin-left: 30%;
    border-radius: 5px;
    grid-gap: 10px;
}
.login{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    font-weight: bolder;
    font-size: 30px;
    background-color: rgb(200, 221, 231);
    border-radius: 5px;
}
.menu{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 12;
    padding: 2%;
    background-color: rgb(222, 232, 237);
    border-radius: 5px;
}

.button{
    background-color:#4058ff;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
}
.input{
    width: 60%;
}
.footer{
    margin-top: 10px;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 12;
    grid-row-end: 13;
}
#username, #password{
    padding: 10px;
    width: 60%;
    }
#password {
    margin-top: 10px;
    margin-bottom: 2%;
    margin-right: 104px;
}
#username{
    margin-right: 100px;
}
#login {
    padding: 5px 60px;
    border-radius: 5px;
    margin-left: 36.05%;
    background-color: rgb(49, 133, 171);
    border: 1px solid rgb(49, 133, 171);
    color: white;

}
#forget {
    float: right;
}
#new_account {
    display: inline;
    float: left;
    margin-top: 7%;
}
#helpdesk {
    float: right;
    display: inline;
    margin-top: 7%;
}
#create {
    float: left;
    display: inline;
    margin-top: 7%;
}