.btm{
    background-color:crimson;
    border-radius: 5px;
    width: 100px;
    height: 50px;
    margin-top: 15px;
    margin-left: 45%;
}
.progress{
    margin-top:15%;
    margin-left: 15%;
border-radius: 5px;
    width: 70%;
}