.div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 35%;
    margin-left: 35%;
    margin-top: 5%;
}
.btm{
    background-color:#4CAF50;
    border-radius: 5px;
    width: 100px;
    height: 50px;
    margin-top: 15px;
}