.grid-conteiner{
    width: 40%;
    margin-left:27%;
    margin-top:10%;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 5px;
    background-color:#445162;
    padding: 20px;
    font-size: 30px;

}
.answer{
    grid-column-start: 1;
    grid-column-end: 5;
    background-color:dimgrey;
}
.C{
    grid-column-start: 5;
    grid-column-end: 6;
}
