*{
    font-family: Lato;
}
.nav-item {
    display: block;
    padding-right: 20px;
}
.navbar-nav{
    justify-content: space-between;
    display: flex;
}
.dropdown{
    padding-right: 20px;
}
#ser{
    font-size:18px;
    font-weight:bold;
}
.fote{
    width: 100%;
    position: relative;
    background-image: url("services.jpg");
    background-size: cover;
    background-attachment: fixed;
    color: white;
    overflow: hidden;
    margin-bottom: 0 auto;
}

.content {

    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}
#myDIV {
    width: 100%;
    padding: 50px 0;
    text-align: center;
    background-color: lightblue;

}
#myDIV1{
    width: 100%;
    padding: 50px 0;
    text-align: center;
    background-color:rgba(252,255,35,0.5);
    }
#myDIV2{
    width: 100%;
    padding: 50px 0;
    text-align: center;
    background-color:lime;
}
.abus{
    width: 70%;
}
.ourm{
    padding: 5%;
}
.video{
    margin-top: 7%;
    width: 420px;
    height: 420px;
}
.gax{
    font-size: 24px;
    color: red;
    padding-right: 2%;
    padding-bottom: 2%;
    vertical-align: middle;
}
.galo{
    padding-right: 2%;
    padding-bottom: 2%;
    vertical-align: middle;
    color: #4CAF50;
    font-size: 24px;
}
.li1{
    padding-bottom: 2%;
}
.gets{
    height:5%;
}
.card-body{
    padding: 1rem;
}
.buybtm{
    background-color:#343a40;
    border-color:#343a40 ;
}
.get{
    text-align: left;
}
.cardd{
    border-radius: 0;
}
.buy{
    padding-top: 15% ;
    vertical-align: middle;
    white-space: nowrap;
}
.eq{
    color: white;
}
.fol{
    text-align: left;
    justify-content: left;
    margin-left: 15%;
    padding-right: 0;
}
.footerr{
    background-color:#343a40;
    color: white;
    overflow: hidden;
    margin-bottom: 0;
}

.iff{
    vertical-align: middle;
    padding: 0;
    padding-top: 3%;
    padding-left: 2%;
    margin: 0;
}
.pff{
    text-align: left;
    white-space: nowrap;
    font-size: 80%;
}
.pll{
    color: white;
}