*{
    font-family: Lato;
}
.nav-item {
    display: block;
    padding-right: 20px;
}
.navbar-nav{
    justify-content: space-between;
    display: flex;
}
.dropdown{
    padding-right: 20px;
}
#ser{
    font-size:18px;
    font-weight:bold;
}
.fote{
    width: 100%;
    position: relative;
    background-image: url("services.jpg");
    background-size: cover;
    background-attachment: fixed;
    color: white;
    overflow: hidden;
    margin-bottom: 0 auto;
}
.content {
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}
.borderr{
    width: 1px;
    height: 80px;
    border: 2px solid #445162;
    position: absolute;
}
.media{
    padding-top: 5%;
}
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}
.fote{
    color: white;
    overflow: hidden;
    margin-bottom: 0;
}
.comment{
    text-align: center;
    padding: 5%;
}
.footerr{
    background-color:#343a40;
    color: white;
    overflow: hidden;
    margin-bottom: 0;
}

.iff{
    vertical-align: middle;
    padding: 0;
    padding-top: 3%;
    padding-left: 2%;
    margin: 0;
}
.pff{
    text-align: left;
    white-space: nowrap;
    font-size: 80%;
}
.pll{
    color: white;
}