*{
    font-family: Lato;
}
.nav-item {
    display: block;
    padding-right: 20px;
}
.navbar-nav{
    justify-content: space-between;
    display: flex;
}
.dropdown{
    padding-right: 20px;
}
#ser{
    font-size:18px;
    font-weight:bold;
}
.hisjp{
    padding: 2%;
    padding-left: 10%;
}
.borderr{
    border: 2px solid #445162;
    z-index: 2;
       }
.point{
    z-index: 5;
position: relative;
}

.footerr{
    background-color:#343a40;
    color: white;
    overflow: hidden;
    margin-bottom: 0;
}

.iff{
    vertical-align: middle;
    padding: 0;
    padding-top: 3%;
    padding-left: 2%;
    margin: 0;
}
.pff{
    text-align: left;
    white-space: nowrap;
    font-size: 80%;
}
.pll{
    color: white;
}