*{
    font-family: Lato;
}
.nav-item {
    display: block;
    padding-right: 20px;
}
.navbar-nav{
    justify-content: space-between;
    display: flex;
}
.dropdown{
    padding-right: 20px;
}
#ser{
    font-size:18px;
    font-weight:bold;
}
.nur{
    margin: 2%;
}
.cont{
    text-align: center;
}
.detal{
    background-image: url("cont.jpg");
    position: relative;
    text-align: center;
    color: white;
}
.top-left {
    position: absolute;
    width: 80%;
    top: 8px;
left: 10%;
}
* {
    box-sizing: border-box;
}

#lname,#fname, select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
}
.imgcon{
    margin-top:7%;
    padding: 2%;
    background: rgba(0,0,0,0.79);
}

.contss {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
}

.column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
}
.footerr{
    background-color:#343a40;
    color: white;
    overflow: hidden;
    margin-bottom: 0;
}

.iff{
    vertical-align: middle;
    padding: 0;
    padding-top: 3%;
    padding-left: 2%;
    margin: 0;
}
.pff{
    text-align: left;
    white-space: nowrap;
    font-size: 80%;
}
.pll{
    color: white;
}