.nav-item {
    display: block;
    padding-right: 20px;
}
.navbar-nav{
    justify-content: space-between;
    display: flex;
}
.dropdown{
    padding-right: 20px;
}
#ser{
    font-size:18px;
    font-weight:750;
    font-family: Arial;
}
.carousel-inner img {
    padding-top: 2%;
    padding-left: 15%;
    width: 85%;
    height: 70%;
}

.carousel-control-next{
    margin-right: 10%;
}
.carousel-control-prev{
    margin-left: 10%;
}
.row{
    text-align: center;
}
.text-block {
    position: absolute;
    bottom: 25%;
    right: 20px;
    background: rgba(0,0,0,0.51);
    color: white;
    width: 50%;
    margin-right: 20%;

}
.system{
    text-align: center;
    margin: 50px;
}
.p1{
    width:70%;
    margin-left:15%;
}

.h2{
    font-size: 30px;
    line-height: 42px;
}
.sp1{
    font-size: 16px;
}
.btn{
    background-color:#343a40;
    border-color:#343a40 ;
}
.gets{
    height:5%;
}
.card-body{
padding: 1rem;
}
.get{
text-align: left;

}
.buy{
    padding-top: 15% ;
    vertical-align: middle;
    white-space: nowrap;
}
.video{

}
.prog{
    float: right;
}
.p2{
    text-align: left;
}
.sm1{
    font-size: 14px;
    }
.fote{
 background-image:url("img_1.jpg");
    background-size: cover;
    background-attachment: fixed;
    color: white;
    overflow: hidden;
    margin-bottom: 0;
}
.color{
    background: rgba(0,0,0,0.4);
}
.fol{
    text-align: left;
    justify-content: left;
    margin-left: 15%;
    padding-right: 0;
}
.f2 {
    text-align: left;
    justify-content: left;
    padding-left: 0;
}
.cardd{
    border-radius: 0;
}
#email{
width:50%;
}
.eq{
    color: white;
}
.footerr{
background-color:#343a40;
    color: white;
    overflow: hidden;
    margin-bottom: 0;
}
.iff{
    vertical-align: middle;
    padding: 0;
    padding-top: 3%;
    padding-left: 2%;
    margin: 0;
}
.pff{
text-align: left;
    color: white;
    white-space: nowrap;
    font-size: 80%;
}
.pll{
    display: flex;
    color: white;
}