* {
    box-sizing: border-box;
}
body{
    background-image: url("slide_3.jpg");
    background-size: cover;
}
.container {
    padding: 16px;
}
#email, #psw,#psw-repeat{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    opacity: 0.7;
    border: none;
    background: #f1f1f1;
}
#specify{
    padding: 15px;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

.registerbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.registerbtn:hover {
    opacity:1;
}

a {
    color: dodgerblue;
}
.signin {
    background-color: #f1f1f1;
    text-align: center;
}