*{
    font-family: Lato;
}
.nav-item {
    display: block;
    padding-right: 20px;
}
.navbar-nav{
    justify-content: space-between;
    display: flex;
}
.dropdown{
    padding-right: 20px;
}
#ser{
    font-size:18px;
    font-weight:bold;
}
.fote{
    width: 100%;
    position: relative;
    background-image: url("services.jpg");
    background-size: cover;
    background-attachment: fixed;
    color: white;
    overflow: hidden;
    margin-bottom: 0 auto;
}
.content {
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}
.borderr{
    width: 1px;
    height: 90px;
    border: 2px solid #445162;
    position: absolute;
}
.overlay {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: rgba(0,140,186,0.5);
    overflow: hidden;
    width: 100%;
    height:0;
    transition: .5s ease;
}
.card{
    position: relative;
    width: 100%;
}
.card:hover .overlay{
    top: 0%;
    height: 80%;
}
.fas{
    text-align: center;
}
.white{
    color: white;
    white-space:nowrap;
}
.text {
    color: white;
    font-size: 90%;
    position: absolute;
    top: 50%;
    left: 10%;

    text-align: center;
}

.footerr{
    background-color:#343a40;
    color: white;
    overflow: hidden;
    margin-bottom: 0;
}
.iff{
    vertical-align: middle;
    padding: 0;
    padding-top: 3%;
    padding-left: 2%;
    margin: 0;
}
.pff{
    text-align: left;
    color: white;
    white-space: nowrap;
    font-size: 80%;
}
.pll{
    display: flex;
    color: white;
}
