.page {
    position: absolute;
    width: 100%;
    height: 140%;
    background-color: white;
    animation-name: page;
    animation-delay: 3s;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    z-index: 10;
}
@keyframes page{
    from {opacity: 1}
    to{opacity: 0}
}
.lll{
    margin-left:35%;
    margin-top: 15%;
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    animation-name: example;
    animation-duration:3s;
    animation-delay:1-0s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    z-index: 9;
}
@keyframes example {
    0% {
        background-color: red;
        left: 0px;
        top: 0px;
        opacity: 1
    }
    25% {
        background-color: yellow;
        left: 200px;
        top: 0px;
        opacity: 1;
    }
    50% {
        background-color: blue;
        left: 200px;
        top: 200px;
        opacity:1;
    }
    75% {
        background-color: green;
        left: 0px;
        top: 200px;
        opacity:1;
    }
    100% {
        background-color: red;
        left: 0px;
        top: 0px;
        opacity: 0;
    }
}