.title{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    background-image: url("the-little-prince132.jpg") ;
}

{
    box-sizing: border-box;
}

h3{
    text-transform: uppercase;
    font-family: Calibri;
    text-align: center;

.author{
    text-align: center;
    text-transform: uppercase;
    font-family: "Arial";
    color: #4058ff;
    padding: 25px;
}

.name{
    text-align: center;
    text-transform: capitalize;
    font-family: cursive;
    font-size: 45px;
}

h1, h4, h2{
    text-align: center;
    padding: 35px;
    font-family: "Arial";
}
table {
    font-family: "Arial";
}
.img{
    width: 33%;
    height: 33%;
    margin-left:120px;

}

p{
    padding: 15px;
    text-indent: 5px;
    font-family: "Arial";
}
