.box{
    display: flex;
    margin: 5px;
    border: 5px solid #ffcc99 ;
    position: relative;
    flex-direction: column;
}
.blue{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    align-content:space-between;
    margin:30px;
    height:33%;
    border: 7px solid #6699cc;
}
.blue1 {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-content: space-between;
    margin: 30px;
    height: 33%;
    border: 7px solid #6699cc;
}
.h{
color: #333366;
font-size: xx-large;
}
.pic{
    width: 96px;
    height: 112px;
    padding:9px;
}
.p{
color:#6699cc;
text-align: left;
    font-size: larger;
}
