.border {
    text-align:center;
    width: 50%;
}
.log{
    margin-left:10px;
}
.center {
    display: flex;
    flex-wrap: wrap;
    margin-left: 30%;
    margin-top: 15%;
}
body{
    background-image: url("background-image-3507320_960_720 (1).jpg");
    background-size: cover;
}
.regbtm{
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.8;
}
.regbtm:hover{
    opacity: 1;
}
