.ul{
    list-style: none;
    background-color: rgba(53,18,72,0.77);
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items:center;
    flex-direction:row;
}
body{
    background: url("future-sports-car-neon-sunset-background-4k-il.jpg");
background-size:cover;
}
li{
 font-size:23px;
    margin:7px;
    padding-right:15px;
}
li a{
    display:block;
    color: #ffcc99 ;
    text-align: center;
    padding:10px;
    text-decoration: none;
}
a:hover{
    background-color: #9e3eff;
    color: white;
}
.img{
    width: 100%;
}