.div{
    width: 100%;
    background-color: #445162;
    height: 29%;
}
.prodname{
    background-color: #445162;
    width:32%;
    color: white;
    padding: 35px 70px;
}
.h1{
    font-size: 72;
    font-family:Arial;
}
.div1{
    float: right;
    background-color:white;
    width: 35%;
    height:1rem;
    margin-right: 3rem;
    padding-top: 13rem;
    margin-top: 3rem;
}
.div2{
    width: 100%;
    background-color: white;
    height: 29%;
    }
.div3{
    float: right;
    background-color:#445162;
    width: 30%;
    height:1rem;
    margin-right: 3rem;
    margin-left: 3rem;
    padding-top: 13rem;
    margin-top: 3rem;
}
.aboutprod{
    background-color: #ffffff;
    width:55%;
    color: #445162;
    padding: 35px 70px;
}
.contact-form{
    color: #ffffff;
    background-color: #445162;
    font-size: 16px;
    text-align: left;
}
.contact{
    text-align: center;
    padding-top: 50px;
    background-color: #445162;
}
.forms{
    width:60%;
    margin-right: -15px;
    margin-left: -15px;
}
.sends{
    margin-top: 10px;
    margin-bottom: 5px;
    width: 500px;
    float: right;
}
 input {
    width: 100%;
    border-radius: 5px;
    background-color: #ffffff;
    height: 45px;
    color: #445162;
    font-size: 16px;
    text-align: left;
    margin-bottom: 20px;
    text-indent: 10px;
}
.sends .submit {
    border-radius: 5px;
    background-color: #ffffff;
    width: 140px;
    height: 40px;
    color: #445162;
    font-size: 16px;
    text-align: center;
    text-indent: 0;
    display: block;
    margin: auto;
}
textarea {
    border-radius: 5px;
    background-color: #ffffff;
    width: 100%;
    height: 180px;
    margin-bottom: 20px;
    color: #445162;
    font-size: 16px;
    line-height: 40px;
    text-align: left;
    text-indent: 10px;
}
.end{
    margin-top: 10px;
    margin-left: 50px;
}
