#vid {
    height: 7rem;
    width: 100%;
    background-color: red;
    padding-top: 2rem;
    font-size: 1.5rem;
    float: top;
    color: white;
}
aside {
    float: left;
    width: 17%;
    height: 27rem;
    background-color: rgb(192,192,192);
}
#id {
    padding-bottom: 3rem;
}
h2 {
    padding-left: 1rem;
    color: white;
}
#div {
    width: 82%;
    height: 27rem;
    float: left;
    border-bottom: 0.5px solid red;
    float: top;
}
p {
    padding-left: 2rem;
}
#head {
    padding-left: 2rem;
}
span {
    color: white;
}
#fin {
    background-color: rgb(253,178,177);
    height: 4rem;
    width: 100%;
    margin-top: 26rem;
}
h3 {
    padding-top:1.5rem;
}
