.mytable {
    border: 0;
    width: 100%;
    height: 100%;
    color:white;
}
.tr1 {
    valign:top;
}
.td{
    background-color: #009900 ;
    width:33%;
}
.td2{
    background-color: #808080 ;
    height:200;
    width:34%;
}
