.card{
    display: flex;
    height:3em;
    background-color: rgba(34,32,34,0.85);
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    border-radius:0;
}
.head{
    color: white;
    font-family: sans-serif;
    padding: 5px;
    padding-top: 7px;
    padding-right: 50px;
}

.navbar-nav{
    background-color: #fff;
    width: 40%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 13%;
}
.navbar-brand{
    margin-left:13%;
    padding: 5%;
}
.nav-item{
font-family: Euphemia;
}
.home{
    background-image: url("kyhruxh1tlgp87xfbif6.jpg") ;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    width: 100%;
    height: 592px;
    padding-top: 340px;
}
.p{
    margin-right: 5%;
    font-size:26px;
}
.btm{
    text-align: center;
    margin-top: 20px;
    margin-right:35px ;
    width: 200px;
    padding: 15px;
    font-size: 20px;
    color:#5fc2a6;
    border: 2px solid;
}
.system{
    text-align: center;
    margin: 50px;
}
.row{
    text-align: center;
}
.p1{
    width:65%;
    font-family:Helvetica;
    margin-left:20%;
}
.img{
    background-image: url("raisedreal_firstframe.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width:100%;
    height: 576px;
    margin-top: 5%;
}
.food{
    display: flex;
}
.img2{
margin-top: 50px;
    margin-left: 90px;
}
.learn{
    text-decoration: underline;
    cursor: pointer;
    color: inherit;
}
.txt{

    margin-top: 150px;
    margin-left: 90px;
}
.p2{
    font-family: 'Gotham Book',Helvetica,Arial,Lucida,sans-serif;
    font-weight: 500;
    line-height: 1.5em;
    font-size: 100%;
}
.img3{
    background-image: url("Снимок5.PNG");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width:100%;
    height: 394px;
    margin-top: 5%;
}
.img4{
    background-image: url("Снимок7.PNG");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width:100%;
    height:482px;
    margin-top: 50px;
}
.nutr{
    padding-top: 10%;
    text-align:center;
}
.p3{
    margin-top: 4%;
    margin-left:27%;
    width:47%;
    font-family:Helvetica;
}
.img5{
    background-image: url("Снимок8.PNG");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width:100%;
    height:379px;
    margin-top: 7%;
}
.p4{
    margin-top: 4%;
    margin-left:25%;
    width:50%;
    font-family:Helvetica;
}
.last{
    margin-top: 8%;
    margin-bottom: 0;
    padding:2%;
}
.c1{
    padding: 1%;
    padding-top:1.2%;
}
.link{
    font-size: 20px;
    color:#5fc2a6;
}

.btm2{
    text-align: center;
    width: 200px;
    padding: 15px;
    font-size: 20px;
    color:#5fc2a6;
    border: 2px solid;
    float: left;
}
.page-footer{
    background-color:#494949;
}
.fol{
    color: white;
    background-color:#494949;
text-align: left;
}
.f0{
    text-align:left;
    margin-left: 10%;
}
.f1{
    width: 43%;
padding: 5%;
}
#email{
    width: 70%;
}
#yes{
    color: white;
    border-color: white;
    width: 70%;
}
.f2{
    padding: 5%;
    margin-left: 5%;
}
.tp{
    text-align: right;
    width: 70%;
    font-size: 80%;
}
.tu{
    color: white;
}
.eq{
    color: white;
    font-size:100%;
}