.p{
    float: left;
    margin-left: 100px;
    margin-top: 60px;
}
.radio{
    text-align: justify;
}
.submit{
    float:left;
    margin-left: 90px;
    margin-top: 45px;
}
.chek{
    text-align: justify;
}
.log{
     margin-left:10px;
 }

.border {
    text-align: center;
    width: 45%;
}
.p2{
    margin-right:60px;
}
.center {
    margin-left: 500px;
    margin-top: 100px;
}
