.center{
    width:50%;
    margin-left: 30%;
    margin-top: 10%;
    border-radius:25px black;
}
.form {
    text-align: left;
}
.label{
    display: inline-block;
    text-align: right;
    margin-right: 200px;
}
label{
    float: left;
}
.select{
    margin-right: 7%;
}
.submit{
    margin-right: 15%;
}